.photo-list {
  height: 100%;
  width: 100%;
  overflow: auto;
  display: flex;
  align-items: center;
  &__item {
    position: relative;
    min-height: 150px;
    min-width: 150px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    &:hover,
    &--selected {
      transform: scale(1.02);
    }
    &--selected {
      border: solid 3px red;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__button {
    font-weight: bold;
    font-size: 42px;
    min-width: 60px;
    text-align: center;
    cursor: pointer;
  }
  &__item-isfavorite {
    position: absolute;
    top: 5px;
    right: 5px;
    color: yellow;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
